<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-10.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">Garden waste removal</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!--  service inner section -->
<section class="single-service-inner-v2-sec service-inner-sec section-padding">
    <div class="container">
        <div class="main-single-service-v2">
            <div class="single-service-post-content">
                <%= cl_image_tag "avgarden/Photo-4", :crop => "scale", :width => 600 %>
                <i class="icon-Our_service_1"></i>
                
                <h2 class="column-title">Garden waste removal</h2>
                <p>
                    With a friendly team of professional waste removal associates, a highly reliable service and competitive prices, we aim to take the stress out of clearing any unwanted items from your garden – giving you back the space to do what you want with it.
                </p>
            </div><!--End single service-post-content -->
        </div><!-- .main-single-service-v2 end -->
    </div><!-- .container end -->
</section><!-- End service inner section -->