<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-10.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">Grass and Hedge cutting</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!--  service inner section -->
<section class="single-service-inner-v2-sec service-inner-sec section-padding">
    <div class="container">
        <div class="main-single-service-v2">
            <div class="single-service-post-content">
                <%= cl_image_tag "avgarden/Photo-20", :crop => "scale", :width => 800 %>
                <i class="icon-Our_service_1"></i>
                
                <h2 class="column-title">Grass and Hedge cutting</h2>
                <p>
                    We recommend trimming back several times throughout the year. We'll also keep an eye on the health of your hedging, looking for any signs of disease that may require attention. As well as trimming, we can shape and prune; we can even make sure your topiary bushes are kept in pristine condition.
                </p>
            </div><!--End single service-post-content -->
        </div><!-- .main-single-service-v2 end -->
    </div><!-- .container end -->
</section><!-- End service inner section -->