<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-10.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">Lawn Care</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!--  service inner section -->
<section class="single-service-inner-v2-sec service-inner-sec section-padding">
    <div class="container">
        <div class="main-single-service-v2">
            <div class="single-service-post-content">
                <%= cl_image_tag "avgarden/Photo-10", :crop => "scale", :width => 800 %>
                <i class="icon-Our_service_1"></i>
                
                <h2 class="column-title">Lawn Care</h2>
                <p>
                    Insect and weed control. Great lawn care works hard on preventing and controlling the spread of various weeds and pests as they pop up on your lawn throughout the year. Soil aeration and other services. Services such as soil aeration that give your soil room to breathe and your grass room to grow.
                </p>
            </div><!--End single service-post-content -->

            <div class="coverd-item">
                <h3 class="xs-single-title">What Services?</h3>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-planting"></i>
                            <h4 class="xs-post-title">Lawn Aeration</h4>
                            <p>This service is mostly needed for early spring . Lawn aeration is one of the most beneficial things for your lawn as it reverses your lawns natural settling process enabling the soil to provide a healthy supply of air and water to the grass.</p>
                        </div>
                    </div><!--End col-->

                    <div class="col-lg-3 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-watering"></i>
                            <h4 class="xs-post-title">Feed / Fertiliser</h4>
                            <p>Often neglected as it appears complicated but feeding/fertilising is an essential part of lawn care. We provide fertilising services to turn your lawn to a green and healthy state.</p>
                        </div>
                    </div><!--End col-->

                    <div class="col-lg-3 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-fencing"></i>
                            <h4 class="xs-post-title">Lawn Cutting</h4>
                            <p>Mowing has one of the biggest influence on the good condition of your grass. Regardless of the size of your lawn, we can provide lawn cutting services to help improve your garden.</p>
                        </div>
                    </div><!--End col-->

					<div class="col-lg-3 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-planting"></i>
                            <h4 class="xs-post-title">New Lawns</h4>
                            <p>We can assist you on your new lawns from preparing the soil to achieve a healthy green lawn.</p>
                        </div>
                    </div><!--End col-->

                    <div class="col-lg-4 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-maintainance"></i>
                            <h4 class="xs-post-title">Weeds & Weed Control</h4>
                            <p>We are here to help you achieve a weed free lawn. We can do good lawn care either manual weeding or through a sensible and correct use of the best selective lawn weed killers and sprayers.</p>
                        </div>
                    </div><!--End col-->

                    <div class="col-lg-4 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-watering"></i>
                            <h4 class="xs-post-title">Moss Control</h4>
                            <p>If your lawn is prone to moss, we provide moss control services to avoid them to get worse to the point where you have little or no grass left.</p>
                        </div>
                    </div><!--End col-->

                    <div class="col-lg-4 col-sm-6 xs-coverd-item">
                        <div class="single-covered-item">
                            <i class="icon-fencing"></i>
                            <h4 class="xs-post-title">Lawn Repair & Renovation</h4>
                            <p>At some point, due to age, use or poor maintenance a lawn is going need repairing and sometimes a complete renovation will be required. In some cases this may not be sufficient and re-instatement may be the only option. So we can repair spots fill your lawn back to green and healthy.</p>
                        </div>
                    </div><!--End col-->
                </div><!--End row-->
            </div><!--End coverd item -->

            <div class="row key-benifits-item xs-mb-100 section-bg">
                <div class="col-lg-6 col-md-7 align-self-center">
                    <div class="key-benifits-content">
                        <h3><span class="light-text"> Benifits</span> of the service</h3>
                        <ul>
                            <li><i class="fa fa-caret-right"></i>Avoid Accidental Damage</li>
                            <li><i class="fa fa-caret-right"></i>Less Physical Labor</li>
                            <li><i class="fa fa-caret-right"></i>Save Money</li>
                            <li><i class="fa fa-caret-right"></i>Consistent Care</li>
                            <li><i class="fa fa-caret-right"></i> Increased Home Value</li>
                        </ul>
                        <%= link_to 'CONTACT US', contact_path, class: "xs-btn fill" %>
                    </div>
                </div><!-- col end-->
                <div class="col-lg-6 col-md-5 xs-padding-0">
                    <div class="key-benifits-img">
                        <%= cl_image_tag "avgarden/Photo-14", :crop => "scale", :width => 540 %>
                    </div>
                </div>
            </div><!-- .row end -->
        </div><!-- .main-single-service-v2 end -->
    </div><!-- .container end -->
</section><!-- End service inner section -->