<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-10.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">Roof gutter cleaning</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!--  service inner section -->
<section class="single-service-inner-v2-sec service-inner-sec section-padding">
    <div class="container">
        <div class="main-single-service-v2">
            <div class="single-service-post-content">
                <%= cl_image_tag "avgarden/Photo-72", :crop => "scale", :width => 600 %>
                <i class="icon-Our_service_1"></i>
                
                <h2 class="column-title">
                	Roof gutter cleaning <br>
                	<small>(no higher than 10ft)</small>
              	</h2>
                <p>
                    We pull the debris down out of the valleys and, if needed, can air blow loose debris like leaves and needles off the roof. We make sure the downspouts are clean and we clean up any mess we may make in the process. We are not able to clean downspouts below ground level. We are able to make minor repairs such as sealing leaking seams and fastening up gutters that have started to pull away and sag. We also clean gutter fascia for which a separate bid is required. We are happy to do a free on-site bid on you gutters.
                </p>
            </div><!--End single service-post-content -->
        </div><!-- .main-single-service-v2 end -->
    </div><!-- .container end -->
</section><!-- End service inner section -->