<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-4.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">FAQ</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!-- header faq section -->
<section class="xs-faq-sec section-padding">
    <div class="container">
        <div class="row">
             <div class="col-lg-8">
                <div class="faq-content">
                    <div class="faq-content-item">
                        <h3 class="faq-title"><span class="light-text">Common</span> questions</h3>
                        <p>
                        Pharetra auctor libero suscipit rhoncus vivamus tempor nascetur Nisi platea euismod, 
                        aliquam ac feugiat donec commodo aenean volutpat
                        </p>
                    </div>
                    <div class="faq-item" id="accordion">
                        <div class="faq-single-item">
                                <h4 id="headingOne">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <span class="icon icon-question-circle"></span>
                                            Why you choose our service?
                                    </button>
                                </h4>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Image darkness also make. Second divide third was fish abundantly. So, let all
                                        had
                                        set lesser a. Behold, hath void land so a given.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingTwo">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <span class="icon icon-question-circle"></span>
                                            How many tree we will get?
                                    </button>
                                </h4>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Image darkness also make. Second divide third was fish abundantly. So, let all
                                        had
                                        set lesser a. Behold, hath void land so a given.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingThree">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span class="icon icon-question-circle"></span>
                                        Can we get maintanence service?
                                    </button>
                                </h4>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Image darkness also make. Second divide third was fish abundantly. So, let all
                                        had
                                        set lesser a. Behold, hath void land so a given.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingFour">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <span class="icon icon-question-circle"></span>
                                            How many cost for this service?
                                    </button>
                                </h4>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Image darkness also make. Second divide third was fish abundantly. So, let all
                                        had
                                        set lesser a. Behold, hath void land so a given.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingFive">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                            <span class="icon icon-question-circle"></span>
                                            How many cost for this service?
                                    </button>
                                </h4>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Image darkness also make. Second divide third was fish abundantly. So, let all
                                        had
                                        set lesser a. Behold, hath void land so a given.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->
                        
                        <div class="faq-single-item">
                                <h4 id="headingSix">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                            <span class="icon icon-question-circle"></span>
                                            How many cost for this service?
                                    </button>
                                </h4>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Image darkness also make. Second divide third was fish abundantly. So, let all
                                        had
                                        set lesser a. Behold, hath void land so a given.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->
                    </div>
                </div>
            </div><!-- col end -->
            <div class="col-lg-4">
                <div class="sidebar-widgets faq-sidebar">
                    <div class="widget widget-faq">
                        <form action="#" method="POST" id="xs-contact-form" class="xs-form">
                            <input type="text" class="form-control" name="name" placeholder="Your name" id="xs_contact_name">
                            <input type="email" class="form-control" name="email" placeholder="Your email" id="xs_contact_email">
                            <textarea name="massage" placeholder="Your Question" id="x_contact_massage" class="form-control message-box" cols="30" rows="10"></textarea>
                            <div class="xs-btn-wraper">
                                <input type="submit" class="xs-btn sm-btn" id="xs_contact_submit" value="SEND QUESTION">
                            </div>
                        </form>
                    </div>
                    <div class="widget widget-categories">
                        <h4 class="widget-title"><span class="light-text">Our</span>  services</h4>
                        <ul class="list-group">
                            <li>
                                <%= link_to 'Lawn care', lawn_care_path %>
                            </li>
                            <li>
                                <a href="#">Garden maintenance</a>
                            </li>
                            <li>
                                <a href="#">Landscaping</a>
                            </li>
                            <li>
                                <a href="#">Roof gutter cleaning</a>
                            </li>

                        </ul>
                    </div><!-- .widget end -->


                </div>
            </div><!-- col end-->
           
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End faq section -->

<!-- header ready to contact section -->
<section class="ready-to-contact section-padding" style="background: url(<%= asset_path 'about/ready-to-contact.jpg' %>) no-repeat center center /cover">
    <div class="container">
       <div class="col-lg-8 offset-lg-2">
           <div class="ready-to-contact-content">
               <h2>Are you ready to take our service?</h2>
               <p>Be brought first whales he signs thing our give were all fowl sea upon make firmament called face, together. 
                   I third deep days fifth spirit you're is you're saw bearing 
                </p>
                <%= link_to 'CONTACT US', contact_path, class: "xs-btn fill" %>
           </div>
       </div>
    </div><!-- .container end -->
</section><!-- End ready to contact section -->