<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-4.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">FAQ</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!-- header faq section -->
<section class="xs-faq-sec section-padding">
    <div class="container">
        <div class="row">
             <div class="col-lg-8 offset-lg-2">
                <div class="faq-content">
                    <div class="faq-content-item">
                        <h3 class="faq-title"><span class="light-text">Common</span> questions</h3>
                    </div>
                    <div class="faq-item" id="accordion">
                        <div class="faq-single-item">
                                <h4 id="headingOne">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <span class="icon icon-question-circle"></span>
                                            Is A&V Garden fully insured?
                                    </button>
                                </h4>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we have a public liability insurance.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingTwo">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <span class="icon icon-question-circle"></span>
                                            Does A&V Garden supply their own equipment?
                                    </button>
                                </h4>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we provide our own equipment specific to the services required by the client.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingThree">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span class="icon icon-question-circle"></span>
                                        How do I pay?
                                    </button>
                                </h4>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        A&V Garden accepts payments by cash, bank transfer or cheque.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingFour">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <span class="icon icon-question-circle"></span>
                                            Does A&V Garden take away all the garden wastes?
                                    </button>
                                </h4>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we can take the garden wastes with us with few ad-hoc charge.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingFive">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                            <span class="icon icon-question-circle"></span>
                                            Do you clean patio or drive way?
                                    </button>
                                </h4>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we are equipped with professional pressure washing machine that can remove any dirt and moss.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->
                        
                        <div class="faq-single-item">
                                <h4 id="headingSix">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                            <span class="icon icon-question-circle"></span>
                                            Do you need access to electricity?
                                    </button>
                                </h4>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        No, our equipment uses petrol. The only access we need is water when cleaning patio or drive way.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->

                        <div class="faq-single-item">
                                <h4 id="headingSix">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                            <span class="icon icon-question-circle"></span>
                                            Do you operate all throughout the year?
                                    </button>
                                </h4>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we provide wide array of services for all seasons. You can visit our services page for details.
                                    </p>
                                </div>
                            </div>
                        </div><!-- faq-single-item-->
                    </div>
                </div>
            </div><!-- col end -->
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End faq section -->

<!-- header ready to contact section -->
<section class="ready-to-contact section-padding">
    <div class="container">
       <div class="col-lg-8 offset-lg-2">
           <div class="ready-to-contact-content">
               <h2>Are you ready to take our service?</h2>
               <p>Our services will solve all of your needs.</p>
               <%= link_to 'CONTACT US', contact_us_path, class: "xs-btn fill" %>
           </div>
       </div>
    </div><!-- .container end -->
</section><!-- End ready to contact section -->