<!-- header middle section -->
<section class="xs-header-middle v2">
  <div class="container">
      <div class="row">
            <div class="col-md-3 align-self-center">
                <div class="logo">
                    <%= link_to root_path do %>
                        <%= image_tag 'logo.png', size: "100" %>
                    <% end %>
                </div>
            </div>
            <div class="align-self-center col-md-9">
                <div class="header-middle-info float-right">
                    <ul>
                        <li>
                            <i class="icon-number_1"></i>
                            <label>Best Gardening</label>
                            <p>Service provider of 2017</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  </div><!-- .container end -->
</section><!-- End header middle section -->