<!-- header top section -->
<section class="xs-header-top v2">
  <div class="container">
      <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="header-top-info">
                    <ul>
                        <li><i class="icon icon-map-marker2"></i> Douglas Isle of Man IM2 5HW</li>
                        <li style="padding-left: 20px;"><i class="icon icon-envelope"></i> aandvgarden23@yahoo.com</li>
                    </ul>
                </div>
            </div><!-- .col end -->

            <div class="col-lg-6 align-self-center col-md-4">
                <div class="header-top-social">
                    <ul>
                        <li><a href="https://www.facebook.com/alvinvincentgarden/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><!-- .col end -->
        </div><!-- .row end -->
  </div><!-- .container end -->
</section><!-- End header section -->