<div id="preloader">
    <div class="preloader-wrapper">
        <div class="la-ball-clip-rotate-pulse la-2x">
            <div></div>
            <div></div>
        </div>
    </div>
    <a href="" class="cancel-preloader">Cancel Preloader</a>
</div>  <!-- END prelaoder -->